version: '3.8'

services:

  user-db:
    image: postgres:15
    container_name: user-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: userdb
    ports:
      - "5433:5432"
    volumes:
      - user_data:/var/lib/postgresql/data

  user-service:
    build: ./user-service
    container_name: user-service
    restart: always
    depends_on:
      - user-db
    env_file:
      - ./user-service/.env
    ports:
      - "3001:3000"

volumes:
  user_data:
